
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->

    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li> <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a></li>
        <li> <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a></li>
        <li> <a class="nav-link" routerLink="noticias" routerLinkActive="active-link">Noticias</a></li>
       
        <li> <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contactos</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
